<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>登录</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/layui/css/layui.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/static/css/style.css}"/>
    <script type="text/javascript" th:src="@{/static/layui/layui.js}" ></script>
    <script type="text/javascript" th:src="@{/static/js/test.js}"></script>
    <script type="text/javascript">
        layui.use(['form','layer'], function(){
            var layer=layui.layer,form=layui.form;
            form.on("submit(formDemo)",function(obj){
                console.log();
            })
        });
    </script>
</head>
<body id="'particles">
    <form class="layui-form" th:action="@{/login/userlogin}" method="post" style="position:absolute;top:50%;left:50%;width:480px;height:240px;margin-left:-240px;margin-top:-120px;"> <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
            <legend>用户登录</legend>
        </fieldset>
        <div class="layui-form-item">
            <label class="layui-form-label">账号</label>
            <div class="layui-input-inline">
                <input name="username" class="layui-input"  placeholder="请输入账号" autocomplete="off" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">账号</label>
            <div class="layui-input-inline">
                <input name="password" class="layui-input" type="password" placeholder="请输入密码" autocomplete="off" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
<!--                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>-->
<!--                <a href="http://www.layui.com" class="layui-btn">游客</a>&nbsp;&nbsp;-->
                <button class="layui-btn" type="submit">登录</button> &nbsp;&nbsp;
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>&nbsp;&nbsp;
                <a href="http://www.layui.com" class="layui-btn">注册</a>
            </div>
        </div>
    </form>
</body>
</html>