<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
    <title>权限管理系统</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/layui/css/layui.css}" media="all"/>
    <script type="text/javascript" th:src="@{/static/js/jquery-1.12.4.js}"></script>
    <script type="text/javascript" th:src="@{/static/layui/layui.all.js}" ></script>
    <script type="text/javascript" th:src="@{/static/layui/layui.js}" ></script>

    <style>
        iframe{
            width: 100%;
            height: 100%;
        }
    </style>
    <script type="text/javascript">
        layui.use(['element','layer','jquery'], function(){
            var element = layui.element,layer = layui.layer,$=layui.jquery;
            network();
            /*
             * @todo 重新计算iframe高度
             */
            function FrameWH() {
                var h = $(window).height() - 164;
                //console.log("高度问题=="+h);
                $("iframe").css("height", h + "px");
            }
            function network(){
                $.ajax({
                    url:"permissions/getMainPerm",
                    type: "get",
                    contentType: "application/json",
                    dataType: 'json',
                    async: true,
                    success: function(res) {
                        //console.log("首页请求结果=="+JSON.stringify(res));
                        if (res.code===0) {
                            console.log("请求数据成功");
                            loadnav(res.data);
                        } else{
                            layer.msg('暂无数据');
                        }
                    },
                    error:function() {
                        layer.msg("请求失败！");
                    }
                });
            }
            function loadnav (navdata) {
                for (var i=0;i<navdata.length;i++) {
                    var  first_menu=navdata[i];
                    var  childMenus=first_menu.children;
                    //console.log("子菜单=="+JSON.stringify(childMenus));
                    if(childMenus==null||childMenus==undefined||childMenus==""){
                        //console.log("没有子菜单=="+first_menu.name);
                        loadTopMenu(first_menu);
                    }else{
                        //console.log("有子菜单=="+first_menu.name);
                        loadHasChildMenu(first_menu);
                    }
                }
                //列表添加完后再次执行渲染
                xuanran();
            }
            function loadHasChildMenu(data){
                var fragment = document.getElementById("leftMenu");
                var list = document.createElement('li');
                list.className="layui-nav-item layui-nav-itemed";
                var child_one_Html='<a href="javascript:;">'+data.name+'</a>';
                var childmenus=data.children;
                var child_two_Html='<dl class="layui-nav-child">';
                var childHtmls="";
                for (var i=0;i<childmenus.length;i++) {
                    var childmenu=childmenus[i];
                    //console.log("1.=多级菜单列表=="+childmenu.name+"=="); data-title
                    var childHtml='<dd><a class="site-myTab-active" data-id='+childmenu.id+' th:data-src="'+childmenu.href+'" data-title='+childmenu.name+'>'+childmenu.name+'</a></dd>';
                    childHtmls+=childHtml;
                }
                child_two_Html +=childHtmls+'</dl>';
                list.innerHTML=child_one_Html+child_two_Html;
                fragment.appendChild(list);
                //console.log("2.=多级菜单列表加载完毕");
            }

            //加载顶级菜单(没有子菜单)
            function loadTopMenu(data){
                var fragment = document.getElementById("leftMenu");
                var list = document.createElement('li');
                list.className="layui-nav-item";
                list.innerHTML='<a class="site-myTab-active" data-id='+data.id+' th:data-src="'+data.href+'" data-title='+data.name+'>'+data.name+'</a>';
                fragment.appendChild(list);
                //console.log("1.=顶级菜单列表加载完毕");
            }
            function xuanran() {
                layui.use(['element','layer','jquery'], function(){
                    var element = layui.element;
                    layer=layui.layer,$=layui.jquery;

                    var layFilter = $("#leftMenu").attr('lay-filter');
                    element.render('nav', layFilter);

                    var active = {
                        //在这里给active绑定几项事件，后面可通过active调用这些事件
                        tabAdd: function (href, id, name) {
                            //新增一个Tab项 传入三个参数，分别对应其标题，tab页面的地址，还有一个规定的id，是标签中data-id的属性值
                            var body_url=href;
                            console.log("要切换的页面地址="+body_url);
                            element.tabAdd('myTab', {
                                title: name,
                                content: '<iframe data-frameid="' + id + '" scrolling="auto" frameborder="0" src="' + body_url + '"></iframe>',
                                id: id //规定好的id
                            })
                            FrameWH();  //计算ifram层的大小
                        },
                        tabChange: function (id) {
                            //切换到指定Tab项
                            element.tabChange('myTab', id);//根据传入的id传入到指定的tab项
                        },
                        tabDelete: function (id) {
                            element.tabDelete("myTab", id);//删除
                        }
                    };
                    // //当点击有site-demo-active属性的标签时，即左侧菜单栏中内容 ，触发点击事件
                    $('.site-myTab-active').on('click', function () {
                        var dataid = $(this);

                        if ($(".layui-tab-title li[lay-id]").length <= 0) {
                            //如果比零小，则直接打开新的tab项
                            //console.log("1.没有tab页，新建tab页");
                            console.log("2.没有tab页，新建tab页=="+dataid.attr("th:data-src")+"=="+dataid.attr("data-id")+"==="+dataid.attr("data-title"));
                            active.tabAdd(dataid.attr("th:data-src"), dataid.attr("data-id"),dataid.attr("data-title"));
                        } else {
                            //否则判断该tab项是否以及存在
                            var isData = false; //初始化一个标志，为false说明未打开该tab项 为true则说明已有
                            $.each($(".layui-tab-title li[lay-id]"), function () {
                                //如果点击左侧菜单栏所传入的id 在右侧tab项中的lay-id属性可以找到，则说明该tab项已经打开
                                if ($(this).attr("lay-id") == dataid.attr("data-id")) {
                                    console.log("如果点击左侧菜单栏所传入的id 在右侧tab项中的lay-id属性可以找到，则说明该tab项已经打开");
                                    isData = true;
                                }
                            })
                            if (isData == false) {
                                //标志为false 新增一个tab项
                                console.log("新增一个tab项")
                                active.tabAdd(dataid.attr("th:data-src"), dataid.attr("data-id"),dataid.attr("data-title"));
                            }
                        }
                        //最后不管是否新增tab，最后都转到要打开的选项页面上
                        active.tabChange(dataid.attr("data-id"));
                    });

                })
                console.log("==列表添加完后再次执行渲染");
            }
        })
    </script>

</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">权限管理系统</div>
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item"><a href="">控制台</a></li>
                <li class="layui-nav-item">
                    <a href="javascript:;">其它系统</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">邮件管理</a></dd>
                        <dd><a href="">消息管理</a></dd>
                    </dl>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img th:src="@{/static/img/touxiang.jpg}" class="layui-nav-img">
                        <span>你好!<div></div></span>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="">基本资料</a></dd>
                        <dd><a href="">安全设置</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a th:href="@{/login/logout}">退出登录</a></li>
            </ul>
        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree"  lay-filter="test" id="leftMenu">
                </ul>
            </div>
        </div>

        <div class="layui-body" style="overflow-y:hidden;">
            <!-- 内容主体区域 -->
            <div style="padding: 15px;">
                <div class="layui-tab" lay-filter="myTab"  lay-allowClose="true">
                    <ul class="layui-tab-title">
                        <li class="layui-this">欢迎页</li>
                    </ul>
                    <div class="layui-tab-content">
                        <div class="layui-tab-item layui-show">欢迎使用权限管理系统</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-footer">
            <!-- 底部固定区域 -->
            © layui.com - 底部固定区域
        </div>
    </div>
</body>
</html>