<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itframe.dao.RoleDao">

    <select id="findRoleListByIds" resultType="com.itframe.beans.Role">
        select rid,rolename,roleLevel,status,remark from role
        <if test="ids != null and ids.size() > 0 ">
            where rid in
            <foreach collection="ids" item="id" open="(" separator="," close=")" index="index">
                #{id}
            </foreach>
        </if>
    </select>

    <select id="getRoles" resultType="com.itframe.beans.Role">
        select rid,rolename,roleLevel,status,remark from role
        <where>
            <if test="keyWord != null and keyWord != ''">
                and  concat(IFNULL(rolename,'')) like concat('%',#{keyWord},'%')
            </if>
        </where>
    </select>

    <update id="updateRole">
        update role
        <set>
            <if test="rolename != null and rolename != ''">
                rolename=#{rolename},
            </if>
            <if test="roleLevel != null and roleLevel != ''">
                roleLevel=#{roleLevel},
            </if>
            <if test="status != null and status != ''">
                status=#{status},
            </if>
            <if test="remark != null">
                remark=#{remark}
            </if>
        </set>
        where rid=#{rid}
    </update>

    <delete id="deleteRoleById">
        delete from role where rid=#{rid}
    </delete>

    <insert id="addRole">
        insert into role(rid,rolename,roleLevel,status,remark) values(0,#{rolename},#{roleLevel},#{status},#{remark})
    </insert>

    <select id="getRoleById" resultType="com.itframe.beans.Role">
        select rid,rolename,roleLevel,status,remark from role where rid=#{rid}
    </select>

    <select id="getAllRoles" resultType="com.itframe.beans.Role">
        select rid,rolename,roleLevel,status,remark from role
    </select>

    <select id="getRoleIdAndRoleName" resultType="com.itframe.beans.Role">
        select rid,rolename,roleLevel from role
    </select>

</mapper>