<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmos.itframe.dao.RolePermissionRelationShipDao">

    <select id="getRolePermissionRelationShip" resultType="com.cmos.itframe.beans.RolePermissionRelationShip">
        select rid,pid from role_permission
        <where>
            <if test="rid !=null">
                AND rid=#{rid}
            </if>
            <if test="pid !=null">
                AND pid=#{pid}
            </if>
        </where>
    </select>

    <insert id="addRolePermRelationShip">
        insert into role_permission(rpid,rid,pid) values(0,#{rid},#{pid})
    </insert>

    <update id="updateRolePerm">
        update role_permission
        <set>
            <if test="rid != null">
                and rid=#{rid},
            </if>
            <if test="pid != null">
                and pid=#{pid}
            </if>
        </set>
        where rpid = #{rpid}
    </update>

    <delete id="deleteRolePerByIds">
        delete from role_permission
        where pid in
        <foreach collection="ids" item="id" open="(" separator="," close=")" index="index">
            #{id}
        </foreach>
    </delete>

</mapper>