<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itframe.dao.UserRoleRelationShipDao">


    <select id="getUserRoleRelationships" resultType="com.itframe.beans.UserRoleRelationShip">
        select urid,uid,rid from user_role
        <where>
            <if test="uid !=null">
                AND uid=#{uid}
            </if>
            <if test="rid !=null">
                AND rid=#{rid}
            </if>
        </where>
    </select>

    <delete id="deleteByIds">
        delete from user_role
        where urid in
        <foreach collection="ids" item="id" open="(" separator="," close=")" index="index">
            #{id}
        </foreach>
    </delete>

    <insert id="insertUserRole">
        insert into user_role(urid,uid,rid) values(default ,#{uid},${rid})
    </insert>

</mapper>