<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>所有图书信息</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/layui/css/layui.css}"  media="all"/>
    <script th:src="@{/static/layui/layui.js}"type="text/javascript"></script>
    <script>
            layui.use('table', function(){
                var table = layui.table;
                //第一个实例
                table.render({
                    elem: '#books'
                    ,url: 'books/getAllBooks' //数据接口
                    ,page: true //开启分页
                    ,limit:10
                    ,cols: [
                        [ //表头
                            {field: 'bid', title: 'ID',  sort: true, fixed: 'left'}
                            ,{field: 'bname', title: '书名'}
                            ,{field: 'auth', title: '作者'}
                            ,{field: 'price', title: '价格'}
                            ,{field: 'counts', title: '库存'}
                            ,{field: 'remark',title: '备注'}
                        ]
                    ]
                });

            });


    </script>
</head>
<body>

    <table id="books"></table>


</body>
</html>