<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>所有权限信息</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/layui/css/layui.css}"  media="all"/>
    <script th:src="@{/static/layui/layui.js}"type="text/javascript"></script>
    <script type="text/javascript" th:src="@{/static/js/jquery-1.12.4.js}"></script>
    <script type="text/javascript">
            //数据展示
            layui.use('table', function(){
                var table = layui.table;
                //第一个实例
                table.render({
                    elem: '#Permissions'
                    ,url: 'permissions/getAllPermissions' //数据接口
                    ,page: true //开启分页
                    ,limit:10
                    ,toolbar:"#caozuoToolbar"//id选择器的写法
                    ,cols: [
                        [ //表头
                            {field: 'pid', title: 'ID', sort: true, fixed: 'left'}
                            ,{field: 'permname', title: '权限名称'}
                            ,{field: 'url', title: 'url路径'}
                            ,{field: 'types', title: '权限类型',templet:"#zhuangtai"}
                            , {field: 'parentId', title: '父级路径'}
                            , {field: 'remark', title: '备注'}
                            ,{title:"操作",templet:"#caoZuo"}
                        ]
                    ]
                });

            });


            function doAdd(){
                layui.use(["form","layer","table","jquery"],function () {
                    var form = layui.form;
                    var layer = layui.layer;
                    var table = layui.table;
                    form.on("submit(add)",function(data){
                        //console.log(data);
                        $.ajax({
                            url:"permissions/addPermission",
                            data:data.field,
                            type:"post",
                            success:function(data){
                                //console.log(data)
                                //1.关闭掉添加弹出层
                                layer.closeAll('page');

                                //2.提示添加成功
                                if(data.isAdd){
                                    layer.alert("添加成功",{time:3000});
                                }else{
                                    layer.alert("添加失败",{time:3000});
                                }
                                //3.刷新table
                                table.reload("Permissions");
                            }
                        })
                        return false;//阻止跳转；
                    });

                });

            }

            function doUpdate1(){
                layui.use(["form","layer","table","jquery"],function () {
                    var form = layui.form;
                    var layer = layui.layer;
                    var table = layui.table;
                    form.on("submit(update)", function (data) {
                        //console.log(data);
                        $.ajax({
                            url: "permissions/updatePermission",
                            data: data.field,
                            type: "post",
                            success: function (data) {
                                //console.log(data)
                                //1.关闭掉添加弹出层
                                layer.closeAll('page');

                                //2.提示添加成功
                                if (data.isUpdate) {
                                    layer.alert("修改成功", {time: 3000});
                                } else {
                                    layer.alert("修改失败", {time: 3000});
                                }
                                //3.刷新table
                                table.reload("Permissions");
                            }
                        })
                        return false;//阻止跳转；
                    });
                });

            }
           //搜索操作
           function doSearch() {
               //1.获取到输入框中输入的内容
               var keyWord = jQuery("#keyWord").val();
               //发送请求，并且接收数据
               layui.use('table', function() {
                   var table = layui.table;

                   table.reload('Permissions', {
                       where: {"keyWord":keyWord}
                   });
               });
           }

           //添加弹出层
           function doOpenAddLayer() {

               layui.use(['layer','jquery'], function(){
                   var $ = layui.jquery;
                   $("#pid").val(0);
                   $("#permname").val("");
                   $("[id=permname]:input").attr("readonly", false);
                   $("#url").val("");
                   $("#types").val("");
                   $("#parentId").val("");
                   $("#remark").val("");
                   $("#updateSubmitBtn").hide();
                   $("#addSubmitBtn").show();
                   layer.open({
                       title:"添加权限信息",
                       content:$("#addForm"),
                       type:1,
                       // maxmin:true
                   })
               });

           }

           //修改权限信息
           function doOpenUpdateLayer(id) {
               layui.use('jquery',function(){
                   var a = layui.jquery;
                   $.ajax({
                       url:"permissions/getPermissionById",
                       data:"pid="+id,
                       success:function(data){
                           a("#pid").val(data.pid);
                           a("#permname").val(data.permname);
                           a("#url").val(data.url);
                           a("#types").val(data.types);
                           a("#parentId").val(data.parentId);
                           a("#remark").val(data.remark);
                       }
                   });
               })
               $("[id=permname]:input").attr("readonly", true).css("color","#888");
               $("#addSubmitBtn").hide();
               $("#updateSubmitBtn").show();

               //2.
               layui.use('layer', function(){
                   layer.open({
                       title:"修改权限信息",
                       content:$("#addForm"),
                       type:1,
                       // maxmin:true
                   })
               });
           }

           function doDelete(id) {
               //确认；如果点击确认删除；否则不删除
               layui.use(['layer','table','jquery'], function(){
                   var table = layui.table;
                   var $ = layui.jquery;
                   layer.confirm('确定真的要把我干掉吗？', {icon: 3, title:'确认删除'}, function(index){
                       $.ajax({
                           url:"permissions/deletePermission",
                           data:"pid="+id,
                           success:function(data){
                               layer.alert(data.isDelete,{time:2000});
                               table.reload("Permissions");
                               layer.close(index);

                           }
                       })
                   });
               });

           }
    </script>

    <script id="caoZuo" type="text/html">
        <button type="button" class="layui-btn layui-btn-sm layui-btn-normal" onclick="doOpenUpdateLayer('{{d.pid}}')">修改</button>

        <button type="button" class="layui-btn layui-btn-sm layui-btn-danger" onclick="doDelete('{{d.pid}}')">删除</button>
    </script>

    <script type="text/html" id="zhuangtai">
        {{#  if(d.types==1){ }}
            菜单
        {{#  } else{ }}
            按钮
        {{#  } }}
    </script>

</head>
<body>

    <table id="Permissions"></table>

    <div id="caozuoToolbar" style="display: none">

        <button type="button" class="layui-btn layui-btn-sm" onclick="doOpenAddLayer()">
            <i class="layui-icon">&#xe608;</i> 添加
        </button>
        <button type="button" class="layui-btn layui-btn-sm layui-btn-danger" onclick="doMultiDelete()">
            <i class="layui-icon layui-icon-delete"></i> 批量删除
        </button>
        <div class="layui-inline">
            <label class="layui-form-label">权限信息:</label>
            <div class="layui-input-inline" style="width: 200px;height: 10px;">
                <input type="text" class="layui-input" id="keyWord">
            </div>
            <div class="layui-input-inline" style="width: 100px;height: 10px;">
                <button type="button" class="layui-btn layui-btn-normal" onclick="doSearch()">
                    <i class="layui-icon layui-icon-search"></i> 搜索
                </button>
            </div>
        </div>

    </div>
<!--    //修改表单-->
    <form id="addForm" style="display: none" class="layui-form">
        <input type="hidden" id="pid" name="pid"/>
        <div class="layui-form-item">
            <label class="layui-form-label">权限名称</label>
            <div class="layui-input-inline">
                <input name="permname" id="permname" class="layui-input" placeholder="请输入权限名称" lay-verify="required|permname"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">权限url</label>
            <div class="layui-input-inline">
                <input name="url" id="url" class="layui-input" placeholder="请输入权限路径" lay-verify="required"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">权限类型</label>
            <div class="layui-input-block">
                <select name="types" lay-verify="required">
                    <option value=""></option>
                    <option value="1">菜单</option>
                    <option value="2">按钮</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">父级路径Id</label>
            <div class="layui-input-inline">
                <input name="parentId" id="parentId" class="layui-input" placeholder="请输入父级路径Id" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-inline">
                <input name="remark" id="remark" class="layui-input" placeholder="请输入备注"/>
            </div>
        </div>
        <div class="layui-form-item" align="center">
            <button lay-submit type="button" lay-filter="add" class="layui-btn" id="addSubmitBtn" onclick="doAdd()">添加权限</button>
            <button lay-submit type="button" lay-filter="update" class="layui-btn" id="updateSubmitBtn" onclick="doUpdate1()">修改权限</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </form>



</body>
</html>