<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>所有用户信息</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/layui/css/layui.css}"  media="all"/>
    <script th:src="@{/static/layui/layui.js}"type="text/javascript"></script>
    <script type="text/javascript" th:src="@{/static/js/jquery-1.12.4.js}"></script>
    <script type="text/javascript">
            //数据展示
            layui.use('table', function(){
                var table = layui.table;
                //第一个实例
                table.render({
                    elem: '#users'
                    ,url: 'users/getUsers' //数据接口
                    //,data:"roleId"+roleId
                    ,page: true //开启分页
                    ,limit:10
                    ,limits:[5,10,20]
                    ,toolbar:"#caozuoToolbar"//id选择器的写法
                    ,cols: [
                        [ //表头
                            {field: 'uid', title: 'ID', width:50, sort: true, fixed: 'left'}
                            ,{field: 'username', title: '用户名称'}
                            ,{field: 'realName', title: '真实姓名'}
                            ,{field: 'status', title: '状态',templet:"#zhuangtai",width: 60}
                            ,{field: 'email', title: '邮箱'}
                            ,{field: 'mobile', title: '联系方式'}
                            ,{field:'rolename', title: '角色',templet:"<div>{{d.roles[0].rolename}}</div>"}
                            , {field: 'remark', title: '备注'}
                            ,{title:"操作",templet:"#caoZuo",width: 100}
                        ]
                    ]
                });

            });
            //表单验证
            layui.use(["form","layer","table"],function () {
                var form = layui.form;
                var pwd1=$("#password1");
                form.verify({
                    password:[pwd1,"两次输入的密码不一样！"]
                });
            });


            function doAdd(){
                layui.use(["form","layer","table","jquery"],function () {
                    var form = layui.form;
                    var layer = layui.layer;
                    var table = layui.table;
                    form.on("submit(add)",function(data){
                        //console.log(data);
                        $.ajax({
                            url:"users/addUser",
                            data:data.field,
                            type:"post",
                            success:function(data){
                                //console.log(data)
                                //1.关闭掉添加弹出层
                                layer.closeAll('page');

                                //2.提示添加成功
                                if(data.isAdd){
                                    layer.alert("添加成功",{time:3000});
                                }else{
                                    layer.alert("添加失败",{time:3000});
                                }
                                //3.刷新table
                                table.reload("users");
                            }
                        })
                        return false;//阻止跳转；
                    });

                });

            }

            function doUpdate1(){
                layui.use(["form","layer","table","jquery"],function () {
                    var form = layui.form;
                    var layer = layui.layer;
                    var table = layui.table;
                    form.on("submit(update)", function (data) {
                        //console.log(data);
                        $.ajax({
                            url: "users/updateUser",
                            data: data.field,
                            type: "post",
                            success: function (data) {
                                //console.log(data)
                                //1.关闭掉添加弹出层
                                layer.closeAll('page');

                                //2.提示添加成功
                                if (data.isUpdate) {
                                    layer.alert("修改成功", {time: 3000});
                                } else {
                                    layer.alert("修改失败", {time: 3000});
                                }
                                //3.刷新table
                                table.reload("users");
                            }
                        })
                        return false;//阻止跳转；
                    });
                });

            }



           //搜索操作
           function doSearch() {
               //1.获取到输入框中输入的内容
               var keyWord = jQuery("#keyWord").val();
               //发送请求，并且接收数据
               layui.use('table', function() {
                   var table = layui.table;

                   table.reload('users', {
                       where: {"keyWord":keyWord}
                   });
               });
           }

           //添加弹出层
           function doOpenAddLayer() {
               layui.use(['layer','jquery'], function(){
                   var $ = layui.jquery;
                   //$("#uid").val(0);
                   $("#uid").val(0);
                   $("#username").val('');
                   $("[id=username]:input").attr("readonly", false);
                   $("#realName").val('');
                   $("#password").val('');
                   $("#password1").val('');
                   $("#email").val('');
                   $("#mobile").val('');
                   $("#remark").val('');
                   $("#pwd").show();
                   $("#pwd1").show();
                   $("#updateSubmitBtn").hide();
                   $("#addSubmitBtn").show();
                   layer.open({
                       title:"添加用户信息",
                       content:$("#addForm"),
                       type:1,
                       // maxmin:true
                   })
               });

           }

           //修改用户信息
           function doOpenUpdateLayer(id) {
               layui.use('jquery',function(){
                   var a = layui.jquery;
                   $.ajax({
                       url:"users/getUserById",
                       data:"uid="+id,
                       success:function(data){
                           a("#uid").val(data.uid);
                           a("#username").val(data.username);
                           a("#realName").val(data.realName);
                           $("#password").val('');
                           $("#password1").val('');
                           a("#email").val(data.email);
                           a("#mobile").val(data.mobile);
                           a("#remark").val(data.remark);
                       }
                   });
               })
               $("[id=username]:input").attr("readonly", true).css("color","#888");
               $("#addSubmitBtn").hide();
               $("#updateSubmitBtn").show();

               //2.
               layui.use('layer', function(){
                   layer.open({
                       title:"修改用户信息",
                       content:$("#addForm"),
                       type:1,
                       // maxmin:true
                   })
               });
           }
           function doDelete(id) {
               //确认；如果点击确认删除；否则不删除
               layui.use(['layer','table','jquery'], function(){
                   var table = layui.table;
                   var $ = layui.jquery;
                   layer.confirm('确定真的要把我干掉吗？', {icon: 3, title:'确认删除'}, function(index){
                       $.ajax({
                           url:"users/deleteUser",
                           data:"uid="+id,
                           success:function(data){
                               layer.alert(data.isDelete,{time:2000});
                               table.reload("users");
                               layer.close(index);

                           }
                       })
                   });
               });

           }
            function doPermManage(id){
                layui.config({
                    base: '/shiro_demo/static/layui/'
                }).extend({
                    xmSelect: 'xm-select'
                }).use(['xmSelect','form','table','layer','jquery','transfer'],function() {
                    var xmSelect = layui.xmSelect;
                    var form = layui.form;
                    var table = layui.table;
                    var layer = layui.layer;
                    var $ = layui.jquery;
                    var transfer = layui.transfer;
                    $.ajax({
                        url: "userRole/getUserRoles",
                        data: "uid=" + id,
                        success: function (data) {
                            console.log(data.userId);
                            $("#uid3").val(id);
                            $("#username1").val(data.username);
                            var items = data.userRoleRelationShips;
                            demo = xmSelect.render({
                                el: '#demo',
                                hight: '300px',
                                toolbar: {show: true},
                                prop: {
                                    name: 'rolename',
                                    value: 'rid'
                                },
                                data: []
                            })
                            demo.update({
                                data: items,
                                selected:true,
                                autoRow: true
                            });
                            //form.render("select");

                        }
                    });
                    layui.use('layer', function () {
                        layer.open({
                            title: "修改权限信息",
                            content: $("#permForm"),
                            type: 1,
                            area:['500px','400px']
                            // maxmin:true
                        })
                    });
                });
            }

            function doUpdateRolePerm(){
                layui.use(["form","layer","table","jquery"],function () {
                    var form = layui.form;
                    var layer = layui.layer;
                    var table = layui.table;
                    // var data=demo.getValue('value');
                    form.on("submit(updateUserRole)",function(data){
                        // console.log(data.field);
                        //alert(demo.getValue('value'));
                        console.log('>>>', demo.getValue('value'));
                        console.log('>>>',$("#username1").val());
                        console.log('>>>',$("#uid3").val());
                        $.ajax({
                            url:"userRole/updateUserRole",
                            data:JSON.stringify({"uid":$("#uid3").val(), "username":$("#username1").val(), "ids":demo.getValue('value')}),
                            contentType:"application/json;charset=utf-8",
                            dataType:"json",
                            type:"post",
                            success:function(data){

                                layer.closeAll('page');

                                table.reload("users");
                            }
                        })
                        return false;//阻止跳转；
                    });

                });

            }
    </script>

    <script id="caoZuo" type="text/html">
        <button type="button" class="layui-btn layui-btn-sm layui-btn-normal" onclick="doOpenUpdateLayer('{{d.uid}}')">修改</button>
        <button type="button" class="layui-btn layui-btn-sm layui-btn-normal" onclick="doPermManage('{{d.uid}}')">权限管理</button>
        <button type="button" class="layui-btn layui-btn-sm layui-btn-danger" onclick="doDelete('{{d.uid}}')">删除</button>
    </script>

    <script type="text/html" id="zhuangtai">
        {{#  if(d.status==0){ }}
            离职
        {{#  } else { }}
            在职
        {{#  } }}
    </script>

</head>
<body>

    <table id="users"></table>

    <div id="permForm" style="display: none" class="layui-form">
        <input type="hidden" id="uid3" name="uid"/>
        <div class="layui-form-item">
            <label class="layui-form-label">用户名称</label>
            <div class="layui-input-inline">
                <input name="username" id="username1" class="layui-input"/>
            </div>
        </div>

        <div class="layui-form-item" id="roles">
            <div class="layui-inline">
                <label class="layui-form-label">角色名称</label>
                <div class="layui-input-block" style="width:500px"  id="demo">

                </div>
            </div>
        </div>
        <div class="layui-form-item" align="center">
            <button lay-submit type="button" lay-filter="updateUserRole" class="layui-btn" onclick="doUpdateRolePerm()">修改权限</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>

    <div id="caozuoToolbar" style="display: none">
        <button type="button" class="layui-btn layui-btn-sm" onclick="doOpenAddLayer()">
            <i class="layui-icon">&#xe608;</i> 添加
        </button>
        <button type="button" class="layui-btn layui-btn-sm layui-btn-danger" onclick="doMultiDelete()">
            <i class="layui-icon layui-icon-delete"></i> 批量删除
        </button>
        <div class="layui-inline">
            <label class="layui-form-label">用户信息:</label>
            <div class="layui-input-inline" style="width: 200px;height: 10px;">
                <input type="text" class="layui-input" id="keyWord">
            </div>
            <div class="layui-input-inline" style="width: 100px;height: 10px;">
                <button type="button" class="layui-btn layui-btn-normal" onclick="doSearch()">
                    <i class="layui-icon layui-icon-search"></i> 搜索
                </button>
            </div>
        </div>

    </div>
<!--    //修改表单-->
    <form id="addForm" style="display: none" class="layui-form">
        <input name="uid" id="uid" type="hidden"/>
        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-inline">
                <input name="username" id="username" class="layui-input" placeholder="请输入用户名" lay-verify="required|username"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">真实姓名</label>
            <div class="layui-input-inline">
                <input name="realName" id="realName" class="layui-input" placeholder="请输入真实姓名" lay-verify="required|realName"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-inline">
                <input type="password" name="password" id="password" class="layui-input" placeholder="若不修改请输入原密码，修改请输入新密码"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">确认密码</label>
            <div class="layui-input-inline">
                <input type="password" name="password" id="password1" class="layui-input" placeholder="请确认密码"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-block">
                <input type="radio" name="status" value="0" title="离职">
                <input type="radio" name="status" value="1" title="在职" checked>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">邮箱</label>
            <div class="layui-input-inline">
                <input name="email" id="email" class="layui-input" placeholder="请输入邮箱" lay-verify="required|email"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">联系方式</label>
            <div class="layui-input-inline">
                <input name="mobile" id="mobile" class="layui-input" placeholder="请输入联系方式" lay-verify="required|mobile"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-inline">
                <input name="remark" id="remark" class="layui-input" placeholder="请输入备注"/>
            </div>
        </div>
        <div class="layui-form-item" align="center">
            <button lay-submit type="button" lay-filter="add" class="layui-btn" id="addSubmitBtn" onclick="doAdd()">添加用户</button>
            <button lay-submit type="button" lay-filter="update" class="layui-btn" id="updateSubmitBtn" onclick="doUpdate1()">修改用户</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </form>



</body>
</html>